In [1]:
import pandas as pd

In [2]:
ls

Data Engineering.ipynb  final/                  unrefined/

In [6]:
# Read data

data_mentor = pd.read_csv('unrefined/data-mentors.csv', encoding='utf-8')
data_student = pd.read_csv('unrefined/data-students.csv', encoding='utf-8')
data_pairing = pd.read_csv('unrefined/data-pairings.csv', encoding = 'utf-8')

Required changes in the data files:


Both in data_student and data_mentor; Simplify the column names to only subject names by removing the questions These are the 6th-36th indexed columns in data_student, 5-35 in data_mentor



In data_mentor; quantify mentor's position. Master:1, PhD Student:2, Postdoctoral Researcher:3

In [7]:
# 1. Remove the questions in the column names in data_student and data_mentor

for i in range(5,35):
    data_student.rename(columns = {data_student.columns[i+1]: data_student.columns[i+1][80:-1]},inplace=True)
    data_mentor.rename(columns = {data_mentor.columns[i]: data_mentor.columns[i][66:-1]},inplace=True)

In [8]:
# 2. Introduce a new column 'Position_numerical' that quantifies mentor's positions

def quantify_position(pos):
    if pos == 'Master':
        return 1
    if pos == 'PhD student':
        return 2
    if pos == 'Postdoctoral researcher':
        return 3

data_mentor.insert(loc = 4, column = 'Position_numeric', value = data_mentor['Position'].apply(quantify_position))

In [9]:
# See the first few rows of data_mentor

data_mentor.head()

,Name,Gender,Affiliation,Position,Position_numeric,Areas of interest:,Set Theory/Model Theory,Category Theory,Real Analysis/Functional Analysis,Complex Analysis,...,Statistics,Computer Algebra,Data Science,Cryptography/Coding theory,Mathematical Modeling,Classical Mechanics,Complex Systems/Dynamical Systems,Quantum Theory,Relativity and Quantum Relativistic Theories,Statistical Mechanics
0,Mentor1,Male,The University of Alabama,Postdoctoral researcher,3,PDEs,NaN,NaN,Second Choice,NaN,...,NaN,NaN,Fourth Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mentor2,Male,Middle East Technical University METU,Master,1,Algebraic and Differential Geometry,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mentor3,Male,Illinois Institute of Technology,PhD student,2,"Extremal Graph Theory, Optimization",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,First Choice,NaN,NaN,NaN,NaN,NaN
3,Mentor4,Male,Higher School of Economics National Research U...,Master,1,"Plane Arrangements, Clifford Algebras, Algebra...",NaN,NaN,NaN,Third Choice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mentor5,Male,İstanbul teknik üniversitesi,PhD student,2,Data science/coding theory,NaN,NaN,NaN,NaN,...,NaN,Second Choice,First Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# See the first few rows of data_student

data_student.head()

,Name,Gender,University,Department,Class,Reference,Set Theory/Model Theory,Category Theory,Real Analysis/Functional Analysis,Complex Analysis,...,Statistics,Computer Algebra,Data Science,Cryptography/Coding theory,Mathematical Modeling,Classical Mechanics,Complex Systems/Dynamical Systems,Quantum Theory,Relativity and Quantum Relativistic Theories,Statistical Mechanics
0,Student1,Male,Bilkent,Mathematics,1,12,Second Choice,NaN,NaN,NaN,...,NaN,NaN,Third Choice,First Choice,NaN,NaN,NaN,NaN,NaN,NaN
1,Student2,Male,ODTU,Mathematics,3,12,First Choice,NaN,Second Choice,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Student3,Male,ODTU,Mathematics,4,11,Second Choice,NaN,NaN,First Choice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Student4,Male,Bogazici,Mathematics,1,12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Student5,Male,ODTU,Mathematics,4,12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Save final data_student and data_mentor as csv files

data_student.to_csv('data-students.csv', index = False)
data_mentor.to_csv('data-mentors.csv', index = False)

In [ ]:
# Remove first years students

# data_student.drop(data_student[data_student['Class'] == '1'].index, inplace = True)